/*.cp-chip {*/
/*    display: inline-block;*/
/*    margin-bottom: 15px;*/
/*    margin-right: 10px;*/
/*    box-sizing: border-box;*/
/*    padding: 0 10px;*/
/*    border-radius: 50px;*/
/*    font-weight: 300;*/
/*    position: relative;*/
/*}*/


/*.cp-chip:hover {*/
/*    cursor: default;*/
/*}*/

/*.cp-chip span.inner {*/
/*    display: inline-block;*/
/*    !*background-color: red;*!*/
/*    !*white-space: nowrap;*!*/
/*    !*overflow: hidden;*!*/
/*    !*text-overflow: ellipsis;*!*/
/*    !*max-width: 100px;*!*/
/*}*/


/*.cp-chip .fc-icon.cross {*/
/*    visibility: hidden;*/
/*    margin-left: 10px;*/
/*}*/

/*.cp-chip:hover .fc-icon.cross {*/
/*    visibility: visible;*/
/*}*/


/*!*****************************/
/*        SOLID THEME*/
/******************************!*/

/*.cp-chip.solid-theme {*/
/*    height: 22px;*/
/*    line-height: 22px;*/
/*    min-width: 75px;*/
/*    max-width: 240px;*/
/*    background-color: #E8E9EB;*/
/*    color: #333333;*/
/*}*/

/*.cp-chip.solid-theme:hover {*/
/*    background-color: #DEDFE0;*/
/*}*/



/*!*****************************/
/*        BLUE THEME*/
/******************************!*/

/*.cp-chip.blue-theme {*/
/*    height: 32px;*/
/*    line-height: 32px;*/
/*    min-width: 55px;*/
/*    max-width: 180px;*/
/*    font-size: 16px;*/
/*    background-color: #49a7ff;*/
/*    !*border: 1px solid black;*!*/
/*    !*color: black;*!*/
/*    color: white;*/
/*}*/









/**********************************************
             REACT TAGS LIBRARY
***********************************************/

.cp-chips-group .tag-wrapper.ReactTags__tag {
    display: inline-block;
    /*min-width: 75px;*/
    max-width: 240px;
    border-radius: 50px;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.cp-chips-group .tag-wrapper.ReactTags__tag a {
    margin-left: 10px;
}

.cp-chips-group.view-mode .tag-wrapper.ReactTags__tag {
    height: 22px;
    line-height: 22px;
    background-color: #E8E9EB;
    color: #333333;
}

.cp-chips-group.view-mode .tag-wrapper.ReactTags__tag a{
    color: #333333;
}


.edit-mode .tag-wrapper.ReactTags__tag {
     height: 32px;
     line-height: 32px;
     min-width: 55px;
     max-width: 180px;
     font-size: 16px;
     background-color: #49a7ff;
     color: white;
 }

.cp-chips-group.edit-mode .react-tags-wrapper,
.cp-chips-group.edit-mode .react-tags-wrapper .ReactTags__selected {
    display: inline;
}

.edit-mode .tag-wrapper.ReactTags__tag a{
    font-size: 16px;
    color: white;
}

.ReactTags__tagInput {
    margin-top: 20px;
    display: none;
}

.cp-chips-group.edit-mode.show-input .ReactTags__tagInput {
    background-color: red;
    display: inline;
}

.cp-chips-group.edit-mode button.add-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #D2D5D9;
    margin-top: 15px;
    margin-left: 5px;
}

.cp-chips-group.edit-mode button.add-btn:active,
.cp-chips-group.edit-mode button.add-btn:focus{
    outline: none;
}

.cp-chips-group.edit-mode .add-btn i {
    font-size: 20px;
    color: #D2D5D9;
}