/**********************************************
             CHIPS
***********************************************/

.cp-chips-group .tag-wrapper.ReactTags__tag {
    display: inline-block;
    min-width: 75px;
    max-width: 240px;
    border-radius: 50px;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.cp-chips-group .tag-wrapper.ReactTags__tag a {
    visibility: hidden;
    margin-left: 10px;
}

.cp-chips-group .tag-wrapper.ReactTags__tag:hover a {
    visibility: visible;
}

.cp-chips-group.view-mode .tag-wrapper.ReactTags__tag {
    height: 22px;
    line-height: 22px;
    background-color: #E8E9EB;
    color: #333333;
}

.cp-chips-group.view-mode .tag-wrapper.ReactTags__tag a {
    color: #333333;
}


.edit-mode .tag-wrapper.ReactTags__tag {
     height: 32px;
     line-height: 32px;
     min-width: 55px;
     max-width: 180px;
     font-size: 16px;
     background-color: #49a7ff;
     color: white;
 }

.cp-chips-group.edit-mode .react-tags-wrapper,
.cp-chips-group.edit-mode .react-tags-wrapper .ReactTags__selected {
    display: inline;
}

.edit-mode .tag-wrapper.ReactTags__tag a {
    font-size: 18px;
    color: white;
}

.ReactTags__tagInput {
    margin-top: 20px;
    display: none;
}

.cp-chips-group.edit-mode.show-input .ReactTags__tagInput input {
    border:1px solid #d4d6da;
    padding: 0 10px;
    margin: 5px 15px 0 0;
    height: 30px;
}

.cp-chips-group.edit-mode.show-input .ReactTags__tagInput input::placeholder {
    color: #C6C9CF;
}

.cp-chips-group.edit-mode.show-input .ReactTags__tagInput input:active,
.cp-chips-group.edit-mode.show-input .ReactTags__tagInput input:focus {
    outline: none;
    border-color: #4FB4F1;
}

.cp-chips-group.edit-mode.show-input .ReactTags__tagInput {
    display: inline;
}

.cp-chips-group.edit-mode button.add-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #D2D5D9;
    margin-top: 15px;
}

.cp-chips-group.edit-mode button.add-btn:active,
.cp-chips-group.edit-mode button.add-btn:focus{
    outline: none;
}

.cp-chips-group.edit-mode .add-btn i {
    font-size: 20px;
    color: #D2D5D9;
}