.form-input-story {
    padding: 30px;
}

.form-input-story .side-by-side-wrapper {
    display: flex;
}

.form-input-story .side-by-side-wrapper .side-by-side-inner {
    display: flex;
    flex-direction: column;
}

.form-input-story .side-by-side-wrapper .side-by-side-inner.right {
    margin-right: 100px;
}
