.search-story {
    padding: 30px;
}

.side-by-side-wrapper {
    display: flex;
}

.search-story .side-by-side-inner {
    display: flex;
    flex-direction: column;
}

.search-story .side-by-side-inner:nth-child(2) {
    margin-left: 50px;
}


.search-story .side-by-side-wrapper .side-by-side-inner .semantic-search,
.search-story .side-by-side-wrapper .side-by-side-inner .semantic-search input {
   width: 120px;
   height: 30px;
}